.demo-overlay {
    background: #EE7203; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #233774, #884da7); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #233774, #884da7);
    background: linear-gradient(to right, #233774, #884da7);
    padding: 32px;
    padding: 2rem;
    border-top-right-radius: 160px;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 160px;
    border-bottom-left-radius: 10rem;
    width: 100%;
    position: relative;

}

.demo-overlay:before {
    content: '';
    position: absolute;
    background: url('/assets/images/bg/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: -288px -752px;
    background-position: -18rem -47rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  } 


.demo-content {
    text-align: center;
    padding: 50px 0px;
    position: relative;
}


.white-color, .white-color h1, .white-color h2, .white-color h3, .white-color h4, .white-color h5, .white-color h6, .white-color p, .white-color i, .white-color span {
    color: #fff !important;
}

.section-heading {
    margin-bottom: 10px;
}

.section-heading h4 {
    font-size: 23px;
    font-weight: 600;
    color: #111;
    line-height: 160%;
    margin-bottom: 10px;

}

.section-heading h2 {
    position: relative;
    font-size: 42px;
    font-weight: 500;
    color: #111;
    line-height: 130%;
    margin-bottom: 10px;
}

.section-heading h6 {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    line-height: 160%;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .section-heading h4 {
        font-size: 20px;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .section-heading h6 {
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    .section-heading h4 {
        font-size: 18px;
    }

    .section-heading h2 {
        font-size: 26px;
        
    }

    .section-heading h6 {
        font-size: 16px;
    }
}


a.rn-button-style--2.btn-solid.white-bg {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

a.rn-button-style--2.btn-solid.white-bg:hover {
    background-color: #42275a;
    border-color: #42275a;
}

