@charset "utf-8";

/* ----------------------------------

Name: style.css
Version: 1.0

-------------------------------------
Table of contents

    01. Google font
    02. Reset
    03. Typography
    04. Margin
    05. Color
    06. Padding
    07. Font Size
    08. Line Height
    09. Button
    10. Hover
    11. Banner
    12. Custom
*/

/* ===================================
    Google font
====================================== */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900&display=swap");

/* ===================================
    Reset
====================================== */

figure {
  margin: 0;
}
.hide {
  display: none;
}
/* ===================================
    Typography
====================================== */
.primary_font {
  font-family: "Work Sans", sans-serif;
}
/* ===================================
    Margin
====================================== */
/*Margin Bottom*/
.margin_bottom_5 {
  margin-bottom: 5px;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_bottom_25 {
  margin-bottom: 25px;
}
.margin_bottom_26 {
  margin-bottom: 26px;
}
.margin_bottom_30 {
  margin-bottom: 30px;
}
.margin_bottom_35 {
  margin-bottom: 35px;
}
.margin_bottom_40 {
  margin-bottom: 40px;
}
.margin_bottom_50 {
  margin-bottom: 50px;
}
.margin_bottom_55 {
  margin-bottom: 55px;
}
.margin_bottom_60 {
  margin-bottom: 60px;
}
.margin_bottom_65 {
  margin-bottom: 65px;
}
.margin_bottom_70 {
  margin-bottom: 70px;
}
.margin_bottom_75 {
  margin-bottom: 75px;
}
.margin_bottom_80 {
  margin-bottom: 80px;
}
.margin_bottom_85 {
  margin-bottom: 85px;
}
.margin_bottom_90 {
  margin-bottom: 90px;
}
.margin_bottom_95 {
  margin-bottom: 95px;
}
.margin_bottom_100 {
  margin-bottom: 100px;
}

/*Margin Right*/
.margin_right_14 {
  margin-right: 14px;
}
.margin_right_10 {
  margin-right: 10px;
}
.margin_right_15 {
  margin-right: 15px;
}
.margin_right_20 {
  margin-right: 20px;
}
.margin_right_30 {
  margin-right: 30px;
}
.margin_right_60 {
  margin-right: 60px;
}

/*Margin Left*/
.margin_left_14 {
  margin-left: 14px;
}
.margin_left_10 {
  margin-left: 10px;
}
.margin_left_15 {
  margin-left: 15px;
}
.margin_left_20 {
  margin-left: 20px;
}
.margin_left_30 {
  margin-left: 30px;
}
.margin_left_50 {
  margin-left: 50px;
}
.margin_left_60 {
  margin-left: 60px;
}
.margin_left_100 {
  margin-left: 100px;
}

/*Margin Top*/
.margin_top-2 {
  margin-top: -2px;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_top_15 {
  margin-top: 15px;
}
.margin_top_20 {
  margin-top: 20px;
}
.margin_top_25 {
  margin-top: 25px;
}
.margin_top_30 {
  margin-top: 30px;
}
.margin_top_40 {
  margin-top: 40px;
}
.margin_top_35 {
  margin-top: 35px;
}
.margin_top_50 {
  margin-top: 50px;
}
.margin_top_60 {
  margin-top: 60px;
}
.margin_top_80 {
  margin-top: 80px;
}
.margin_top_90 {
  margin-top: 90px;
}
.margin_top_95 {
  margin-top: 95px;
}
.margin_top_100 {
  margin-top: 100px;
}
.margin_top_150 {
  margin-top: 150px;
}
.margin_top-170 {
  margin-top: -170px;
}

/* ===================================
     Color
====================================== */
/*Colors*/
.color_000 {
  color: #000;
}
.color_fff {
  color: #fff;
}
.color_3e7ccc {
  color: #3e7ccc;
}
/*Background Colors*/
.bg_0e1f35 {
  background-color: #0e1f35;
}
.bg_183253 {
  background-color: #183253;
}
.bg_214471 {
  background-color: #214471;
}
.bg_2b5790 {
  background-color: #2b5790;
}
.bg_3469ae {
  background-color: #3469ae;
}
.bg_3e7ccc {
  background-color: transparent;
}
.bg_141a22 {
  background-color: #141a22;
}
.bg_d7e4f5 {
  background-color: #d7e4f5;
}
.bg_f4f7fb {
  background-color: #f4f7fb;
}
/* ===================================
    padding
====================================== */

/*padding*/
.no_padding {
  padding: 0;
}
.padding_tb60 {
  padding: 60px 0;
}

/*padding top*/
.padding_top_5 {
  padding-top: 5px;
}
.padding_top_8 {
  padding-top: 8px;
}
.padding_top_10 {
  padding-top: 10px;
}
.padding_top_13 {
  padding-top: 13px;
}
.padding_top_15 {
  padding-top: 15px;
}
.padding_top_20 {
  padding-top: 20px;
}
.padding_top_21 {
  padding-top: 21px;
}
.padding_top_25 {
  padding-top: 25px;
}
.padding_top_30 {
  padding-top: 30px;
}
.padding_top_35 {
  padding-top: 35px;
}
.padding_top_40 {
  padding-top: 40px;
}
.padding_top_45 {
  padding-top: 45px;
}
.padding_top_50 {
  padding-top: 50px;
}
.padding_top_60 {
  padding-top: 60px;
}
.padding_top_70 {
  padding-top: 70px;
}
.padding_top_75 {
  padding-top: 75px;
}
.padding_top_80 {
  padding-top: 80px;
}
.padding_top_85 {
  padding-top: 85px;
}
.padding_top_90 {
  padding-top: 90px;
}
.padding_top_95 {
  padding-top: 95px;
}
.padding_top_100 {
  padding-top: 100px;
}
.padding_top_105 {
  padding-top: 105px;
}
.padding_top_130 {
  padding-top: 130px;
}
.padding_top_120 {
  padding-top: 150px;
}
.padding_top_150 {
  padding-top: 150px;
}
.padding_top_200 {
  padding-top: 200px;
}
.padding_top_300 {
  padding-top: 300px;
}

/*padding bottom*/
.padding_bottom_5 {
  padding-bottom: 5px;
}
.padding_bottom_8 {
  padding-bottom: 8px;
}
.padding_bottom_10 {
  padding-bottom: 10px;
}
.padding_bottom_13 {
  padding-bottom: 13px;
}
.padding_bottom_15 {
  padding-bottom: 15px;
}
.padding_bottom_17 {
  padding-bottom: 17px;
}
.padding_bottom_20 {
  padding-bottom: 20px;
}
.padding_bottom_21 {
  padding-bottom: 21px;
}
.padding_bottom_25 {
  padding-bottom: 25px;
}
.padding_bottom_30 {
  padding-bottom: 30px;
}
.padding_bottom_35 {
  padding-bottom: 35px;
}
.padding_bottom_40 {
  padding-bottom: 40px;
}
.padding_bottom_50 {
  padding-bottom: 50px;
}
.padding_bottom_45 {
  padding-bottom: 45px;
}
.padding_bottom_55 {
  padding-bottom: 55px;
}
.padding_bottom_60 {
  padding-bottom: 60px;
}
.padding_bottom_65 {
  padding-bottom: 65px;
}
.padding_bottom_70 {
  padding-bottom: 70px;
}
.padding_bottom_75 {
  padding-bottom: 75px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}
.padding_bottom_85 {
  padding-bottom: 85px;
}
.padding_bottom_85 {
  padding-bottom: 85px;
}
.padding_bottom_90 {
  padding-bottom: 90px;
}
.padding_bottom_100 {
  padding-bottom: 100px;
}
.padding_bottom_120 {
  padding-bottom: 120px;
}
.padding_bottom_200 {
  padding-bottom: 200px;
}
.padding_bottom_250 {
  padding-bottom: 250px;
}

/*padding left*/
.padding_left_0 {
  padding-left: 0;
}
.padding_left_10 {
  padding-left: 10px;
}
.padding_left_15 {
  padding-left: 15px;
}
.padding_left_20 {
  padding-left: 20px;
}
.padding_left_25 {
  padding-left: 25px;
}
.padding_left_30 {
  padding-left: 30px;
}
.padding_left_40 {
  padding-left: 40px;
}
.padding_left_45 {
  padding-left: 45px;
}
.padding_left_50 {
  padding-left: 50px;
}
.padding_left_55 {
  padding-left: 55px;
}
.padding_left_58 {
  padding-left: 58px;
}
.padding_left_60 {
  padding-left: 60px;
}
.padding_left_70 {
  padding-left: 70px;
}
.padding_left_75 {
  padding-left: 75px;
}
.padding_left_80 {
  padding-left: 80px;
}
.padding_left_85 {
  padding-left: 85px;
}
.padding_left_95 {
  padding-left: 95px;
}
.padding_left_100 {
  padding-left: 100px;
}

/*padding right*/
.padding_right_0 {
  padding-right: 0;
}
.padding_right_10 {
  padding-right: 10px;
}
.padding_right_15 {
  padding-right: 15px;
}
.padding_right_20 {
  padding-right: 20px;
}
.padding_right_30 {
  padding-right: 30px;
}
.padding_right_40 {
  padding-right: 40px;
}
.padding_right_50 {
  padding-right: 50px;
}
.padding_right_55 {
  padding-right: 55px;
}
.padding_right_58 {
  padding-right: 58px;
}
.padding_right_60 {
  padding-right: 60px;
}
.padding_right_70 {
  padding-right: 70px;
}
.padding_right_75 {
  padding-right: 75px;
}
.padding_right_80 {
  padding-right: 80px;
}
.padding_right_105 {
  padding-right: 105px;
}

/* ===================================
     Font Size
====================================== */
/*Font Size*/
.font_size_12 {
  font-size: 12px;
}
.font_size_14 {
  font-size: 14px;
}
.font_size_16 {
  font-size: 16px;
}
.font_size_18 {
  font-size: 18px;
}
.font_size_20 {
  font-size: 20px;
}
.font_size_22 {
  font-size: 22px;
}
.font_size_24 {
  font-size: 24px;
}
.font_size_26 {
  font-size: 26px;
}
.font_size_28 {
  font-size: 28px;
}
.font_size_30 {
  font-size: 30px;
}
.font_size_32 {
  font-size: 32px;
}
.font_size_34 {
  font-size: 34px;
}
.font_size_36 {
  font-size: 36px;
}
.font_size_38 {
  font-size: 38px;
}
.font_size_40 {
  font-size: 40px;
}
.font_size_42 {
  font-size: 42px;
}
.font_size_44 {
  font-size: 44px;
}
.font_size_48 {
  font-size: 48px;
}
.font_size_60 {
  font-size: 60px;
}
.font_size_64 {
  font-size: 64px;
}
.font_size_50 {
  font-size: 50px;
}
.font_size_70 {
  font-size: 70px;
}
.font_size_80 {
  font-size: 80px;
}
.font_size_90 {
  font-size: 90px;
}

/*Font weight*/
.font_weight_300 {
  font-weight: 300;
}
.font_weight_400 {
  font-weight: 400;
}
.font_weight_500 {
  font-weight: 500;
}
.font_weight_600 {
  font-weight: 600;
}
.font_weight_700 {
  font-weight: 700;
}
.font_weight_800 {
  font-weight: 800;
}
.font_weight_900 {
  font-weight: 900;
}
/* ===================================
     Line Height
====================================== */
/*Line Height*/
.line_height_18 {
  line-height: 18px;
}
.line_height_22 {
  line-height: 22px;
}
.line_height_24 {
  line-height: 24px;
}
.line_height_25 {
  line-height: 25px;
}
.line_height_28 {
  line-height: 28px;
}
.line_height_30 {
  line-height: 30px;
}
.line_height_34 {
  line-height: 34px;
}
.line_height_36 {
  line-height: 36px;
}
.line_height_40 {
  line-height: 40px;
}
.line_height_42 {
  line-height: 42px;
}
.line_height_48 {
  line-height: 48px;
}
.line_height_50 {
  line-height: 50px;
}
.line_height_54 {
  line-height: 54px;
}
.line_height_60 {
  line-height: 60px;
}
.line_height_65 {
  line-height: 65px;
}
.line_height_80 {
  line-height: 80px;
}
.line_height_82 {
  line-height: 82px;
}

/* ===================================
     Button
====================================== */

.btn_hosting_plan {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  padding: 12px 60px 12px 30px;
  border-radius: 32px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.btn_hosting_plan:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  right: 8px;
  top: 7px;
  padding: 9px 12px;
  border-radius: 32px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.btn_welcome {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #3e7ccc;
  padding: 13px 60px 13px 30px;
  border-radius: 32px;
  position: relative;
  margin-bottom: 50px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.btn_welcome:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  right: 8px;
  top: 7px;
  padding: 9px 12px;
  border-radius: 32px;
  color: #fff;
  background: #0e1f35;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.btn_shared_feature {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #3e7ccc;
  padding: 13px 60px 13px 30px;
  border-radius: 32px;
  position: relative;
  margin-bottom: 50px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.btn_shared_feature:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  right: 8px;
  top: 7px;
  padding: 9px 12px;
  border-radius: 32px;
  color: #fff;
  background: #0e1f35;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

/* ===================================
         Hover
====================================== */

.btn_hosting_plan:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #000;
}
.btn_hosting_plan:hover:before {
  background-color: #3e7ccc;
  color: #fff;
}
.btn_welcome:hover {
  background-color: transparent;
  color: #3e7ccc;
}
.btn_welcome:hover:before {
}
.feature_img_box:hover {
  background-color: #0e1f35;
}
.btn_shared_feature:hover {
  background-color: #0e1f35;
  color: #fff;
}
.btn_shared_feature:hover:before {
  background-color: transparent;
  color: #3e7ccc;
}

/* ===================================
     Comparison Price Plan Section
====================================== */
.reseller_hosting_plan {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.reseller_hosting_plan_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  z-index: 10;
  padding-bottom: 14px;
  padding-left: 0px;
}
.reseller_hosting_plan_list li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reseller_hosting_plan_list li:last-child {
  border-right: 1px solid #ddd;
}
.reseller_hosting_plan_list li button {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #233774;
}
.reseller_hosting_plan_list li.active button {
  background-color: #233774;
  background-image: -webkit-linear-gradient(305deg, #233774 0%, #3790e6 100%);
  background-image: linear-gradient(145deg, #233774 0%, #3790e6 100%);
  color: #fff;
}
.reseller_hosting_plan_table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.reseller_hosting_plan_table th {
  background: #f5f5f5;
  display: none;
}
.reseller_hosting_plan_table th:first-child {
  background-color: transparent;
  border: none;
}
.reseller_hosting_plan_table td,
.reseller_hosting_plan_table th {
  height: 53px;
}
.reseller_hosting_plan_table tr:first-child {
  border: none;
  border-bottom: 1px solid #dfe6ed;
  text-align: center;
  display: none;
}

.reseller_hosting_plan_table td,
.reseller_hosting_plan_table th {
  padding: 10px;
  empty-cells: show;
}
.reseller_hosting_plan_table td {
  border: none;
}
.reseller_hosting_plan_table td,
.reseller_hosting_plan_table th {
  text-align: left;
}
td + td,
th + th {
  text-align: center;
  display: none;
}
.reseller_hosting_plan_table td.default {
  display: table-cell;
}
.bg-purple {
  border-top: 3px solid #a32362;
}
.bg-blue {
  border-top: 3px solid #0097cf;
}
.sep {
  background: #f5f5f5;
  font-weight: bold;
}
.txt-l {
  font-size: 28px;
  font-weight: bold;
}
.txt-top {
  position: relative;
  top: -9px;
  left: -2px;
}
.hide {
  border: 0;
  background: none;
}

.chars {
  visibility: none;
}

/* ---- Columns break ---*/
@media (min-width: 1200px) {
  .reseller_hosting_plan_list {
    display: none;
  }
  td,
  th {
    display: table-cell !important;
  }
  .reseller_hosting_plan_table td:first-child,
  .reseller_hosting_plan_table th:first-child {
    width: 330px;
  }
  td + td,
  th + th {
    width: auto;
  }
}

.border_none {
  border: none !important;
}
.reseller_hosting_plan_table thead th {
  font-size: 24px;
  line-height: 24px;
  color: #233774;
  font-weight: 400;
  background-color: transparent;
  border: none;
  padding: 25px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #78a4db;
  text-align: center;
}
.small_content {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #233774;
  margin-top: 30px;
}
.reseller_plan_price {
  font-size: 48px;
  line-height: 24px;
  color: #233774;
  font-weight: 500;
}
.reseller_plan_price span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}
.reseller_hosting_plan_table tbody td.bg_3e7ccc {
  padding: 25px;
  border-right: 1px solid #78a4db;
  text-align: center;
}
.reseller_hosting_plan_table tbody td.bg_3e7ccc:last-child {
  border: none;
}
.reseller_hosting_plan_table tbody tr:nth-child(2) td {
  font-size: 21px;
  line-height: 30px;
  color: #000;
}
.reseller_hosting_plan_table tbody tr:nth-child(2) td:before {
  display: none;
}
.reseller_hosting_plan_table tbody tr:last-child td:before {
  display: none;
}
.reseller_hosting_plan_table tbody td {
  font-size: 18px;
  line-height: 24px;
  color: #555;
  padding: 20px 0;
  position: relative;
  text-align: center;
}
.reseller_hosting_plan_table tbody td:first-child:not(.chars):before {
  position: absolute;
  content: "";
  background: url("../../images/icons/check_mark_blue.png");
  width: 19px;
  height: 14px;
  left: 0;
  top: 25px;
}
.reseller_hosting_plan_table tbody td:first-child:not(.chars) {
  padding-left: 30px;
  text-align: left;
}
.reseller_hosting_plan_table tbody tr {
  border: none;
  border-top: 1px solid #dfe6ed;
}
.reseller_hosting_plan_table tbody tr:nth-child(2) {
  border-top: none;
}
.btn_reseller_hosting_table {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #233774;
  padding: 10px 20px 10px 20px;
  border-radius: 32px;
  color: #fff;
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
/*.btn_reseller_hosting_table:before{-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105"; position: absolute; right: 8px; top: 4px; padding: 7px 10px; border-radius: 32px; color: #555; background: #fff; transition: all ease-in-out 0.5s}*/
.reseller_hosting_plan {
  margin-bottom: 70px;
}
.outer_reseller_plan_box {
  position: relative;
}
.reseller_plan_list {
  border-bottom: none;
  position: absolute;
  z-index: 9;
}
.reseller_plan_list li {
  display: inline-block;
}
.reseller_plan_list li a {
  padding: 14px 53px 13px 26px;
  border: none !important;
  font-size: 13px !important;
  line-height: 13px !important;
  font-weight: 600 !important;
  position: relative;
  border-radius: 32px !important;
  text-transform: uppercase !important;
  background: #3e7ccc !important;
  color: #fff !important;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.reseller_plan_list li:first-child a {
  z-index: 9;
}
.reseller_plan_list li:first-child a:before {
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 9px 12px;
  border-radius: 32px;
  color: #3e7ccc;
  background: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.reseller_plan_list li:last-child a:before {
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 9px 12px;
  border-radius: 32px;
  color: #000;
  background: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.reseller_plan_list li:last-child a {
  background-color: #000 !important;
  margin-left: -32px;
  padding: 14px 53px 13px 38px;
}
.btn_reseller_hosting_table:hover {
  background-color: #0e1f35;
  color: #fff;
}
.btn_reseller_hosting_table:hover:before {
  background-color: transparent;
  color: #000;
}
#myTabContent {
  z-index: -1;
}

.btn__trial {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
      align-items: baseline;
  border-width: 0px;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  border-radius: 3px;
  cursor: default;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  -webkit-transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  vertical-align: middle;
  width: auto;
  margin-top: 24px;
  color: rgb(0, 82, 204) !important;
}

.css-j8fq0c {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
 
  position: relative;
}

.css-t5emrf {
  -webkit-box-align: center;
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn__trial:hover,
.btn__trial:focus {
  color: rgb(4, 59, 141) !important;
}

.btn__trial:hover,
.btn__trial:focus {
  color: #fff;
  background-color: #233774;
}

.btn__trial a {
  color: #233774;
}
.btn__trial:hover a,
.btn__trial:focus a {
  color: #fff !important;
}

* {
  outline: none !important;
}

ul.tg-list,
ul.tg-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.tg-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;

}

.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5em;
  height: 2.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
 
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 46%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #233774;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

ul.square {
  list-style-type: square;
}

ul.square li a, ul.square ::marker  {
  color: rgba(29,29,36,0.75);
  font-weight: 400;
}

.reseller_hosting_plan_table tbody td:first-child {
  text-align: center;
}
.offers {
  text-align: center;
}

.offers-header {
  position: relative;
}
.reseller_hosting_plan_table tbody td.bg_3e7ccc {
padding-bottom: 100px;  
}
.offers-header button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}


@media (max-width: 1199px) {
  .reseller_hosting_plan_table tbody td.bg_3e7ccc {
    border-right-color: transparent;
  }
}
